@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url(font-awesome.min.css);

:root{
	--text-color: rgba(255, 255, 255, 0.3);
	--text-color-alt: rgba(255, 255, 255, 0.8);
	--text-color-dark: #4c3234;
	--background-blue: url(../img/bluepaper.jpg);
	--background-red: url("../img/redp.jpg");
}


body {font-family: 'Lato'; background-color:#2C3E50; padding:0; margin:0;}
html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

.general{
	height:100vh;
	margin: 0;
	overflow: hidden;
}

#events {
	background-color: #ebf2fa;
}

#home{
	background-image: url("../img/redp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }
#hello{
 
	height: 100vh;
 	position:relative;
	overflow:hidden;
  margin-right: 0;
  /*margin-top: -8vh;*/
}
#contact{
	background-color: #ebebeb;
}

.labcontainer{
	overflow: hidden;
}

#dhwanilogo{
	height:50vh;
	margin-top: 15vh;
}

#ddate{
	color:rgba(255,255,255,0.8);
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
	margin-bottom: 10vh;
}
.stylebutton{
	border-width: 0px;
	background-color:rgba(255, 255, 255, 0.8);
	border-radius:7px;
	padding:5px;
	margin:5px;
	width:18vh;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#viewProfile{
	width:22vh;
}
#profileViewButton{
	
	padding:5vh;
	z-index:8;
	position:fixed;
	top:0%;
	left:85%;
}
.lbox{
	text-align: center;
}

#circ{
	 position:absolute;
  width:90vw;
  
  top:50%;
  left:50%;
  margin-top:-50vh;/*half of the height*/
  margin-left:-60vh;
	-webkit-animation: rotation 17s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#dhwaniflea{
	background-color:#dfdc99;
}
#gettogether{
	background-color: #f0e0c4;
}
.fleaimg{
	height:100vh;
	padding-left: 20vh;
}
.getimg{
	height:60vh;
	padding-left: 0vh;
	
}
.aboutimg{
	height:100vh;
	padding-right:20vh;
}
.contactimg{
	height:80vh;
	padding-right: 20vh;

}
.eventsimg{
	height:80vh;
	padding-left: 50%;
	/*text-align: center;*/
}
.desc{
	padding:10vh 0;
	text-align: justify;
	font-size: 1.1rem;
	color:#3b3536;
}
.sectiontitle{
	font-family: 'Abril Fatface';
	font-weight: 200;
	font-size:3.6rem;
	padding-top:10vh;
}
#dhwaniflea .sectiontitle{
	color:#88243e;
}
#contact .sectiontitle{
	color:#22283f;
}
.imgdiv{
	text-align: center;
}
.container {width:100%; max-width: 100vw; margin:0; padding:0px 0px 0px 0px;}
.mapouter{
	height:300px; width:600px;
}
.gmap_canvas{
	height:300px;width:600px;
}
#gmap_canvas{
	height:300px;width:600px;

}

/* SIDEBAR NAVIGATION */
.sidebar {position:absolute; right:0;}
.dot {display:inline-block; width:10px; height:10px; background-color:rgba(255,255,255,.3); border-radius:10px; z-index:999; content:''; color:transparent; font-size:14px; line-height:10px; vertical-align:middle; margin:5px 0 5px 0; font-weight:300;}
.dot:hover {background-color:rgba(255,255,255,.8); color:rgba(255,255,255,.8); text-decoration: none}
.dot span {margin:0px 0px 20px 15px; position:relative; top:0px; left:-70px;}
nav {width:100px; height:200px;/*background-color:rgb(240,240,240); border:solid 1px rgb(220,220,220);*/ padding:0 0px; position:fixed; top:50%; right:20px; transform: translate(0, -50%); z-index: 10000; text-align:right;}
nav ul li a {text-decoration:none; color:white;}
nav ul {list-style-type:none; margin:0; padding:0;}
.name-active {color:rgba(255,255,255,.8); background-color:white; text-align:right;}

/* PAGE CONTENT */
.content {width:100%; text-align:justify;}
section {padding:0 0 0px 0;}
section:last-child {padding:0 0 100vh 0;}
.title {font-size:24px; color:rgba(255,255,255,.3); text-transform:uppercase; padding:0 0 0px 0;}
p {margin:0; padding:0px 0 0px 0;}

.title-alt {
	text-align: center;
	font-size: 4vh;
	color: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	padding: 6vh 0 3vh 0;
}

.dark {
	color: var(--text-color-dark) !important;
}
#about{
	background-color: #a8cdc6;
}





.heading {
}

.content-div {

	font-size: 1.1rem;
	padding: 0 10%;
	width: 80%;
	color: var(--text-color-alt);
	z-index: 123;

	padding: 0 10%;
    color: var(--text-color-alt);
}
.rcontent{
	padding-right: 16vh;
}
.lcontent{
	padding-left:16vh;
}

ul {
    padding:0;
    list-style: none;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    margin:1vh;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-envelope {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
    }
.fa-envelope:hover {
    background-color: #e25714;
}
.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
    border-radius: 50%;
    }
.fa-instagram:hover {
    background-color: #a40964;
}


/* Responsive things*/



 
    
@media (max-width: 480px){
#circ{
	position:absolute;
  width:140vw;
  top:50%;
  left:80%;
  align-content: center;
}
#dhwanilogo{
	height: 20vh;

}
#profileViewButton{
	padding:2vh;
	z-index:8;
	position:fixed;
	top:0%;
	left:60%;
}
#ddate{
margin-bottom: 5vh;
font-size: 0.9rem;
}

nav{
	margin-right: 0px;
	right: 15px;
}
.dot{
	height:7px;
	width:7px;
	font-size: 0.8rem;
	margin: 0;
}
.dot span {
	margin: 0 0 0 0;
	left:-7vh;
}
.sectiontitle{
	font-size: 2.7rem;
	padding-top: 5vh;
}
.desc{
	padding:5vh;
	/*padding-right:11vh;*/
	font-size: 0.8rem;
}
.fleaimg{
	height:40vh;
	padding: 0;
}
.aboutimg{
	height:40vh;
	padding:0;
}
.eventsimg{
	padding: 0;
	height:40vh;
}
.getimg{
	height:40vh;
}

.content-div {
	font-size: 0.8rem;
}

/*.title-alt {
	font-size: 2vh;
}*/
.mapouter{
	height:200px; width:340px;
}
.gmap_canvas{
	height:200px;width:340px;
}
#gmap_canvas{
	height:200px;width:340px;
}
.contactimg{
	height:35vh;
	padding: 0px;
}



}

@media (max-width: 360px){
.contactimg{
height:30vh;

}
}
@media (max-width: 320px){
.contactimg{
height:25vh;

}
.social-icons li {

	margin: 0.3vh;
}
}	

input[type=text], select, textarea{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
	padding: 12px 12px 12px 0;
	display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
  }
  .form-group label{
	  color:white;
  }
  /* Style the container */
  .container {
	border-radius: 5px;
	background-color:transparent;
	padding: 20px;
	min-height: 100vh;
  }
  #maincont{
	border-radius: 0px;
	background-color:unset;
	padding: unset;
	min-height: unset;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.col-25, .col-75, input[type=submit] {
	  width: 100%;
	  margin-top: 0;
	}
  }

