body {font-family: 'open sans'; background-color:#2C3E50; padding:0; margin:0;}
html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

.general{
	height:100vh;
	margin: 0;
}
.navabar{
	height:8vh;
}
#hello{
  background-image: url("../img/redp.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
 	position:relative;
	overflow:hidden;
  margin-right: 0;
  /*margin-top: -8vh;*/
}
.labcontainer{
	overflow: hidden;
}
#contact{
	height: 99vh;
}
#circ{
	 position:absolute;
  width:80vw;
  
  top:50%;
  left:50%;
  margin-top:-50vh;/*half of the height*/
  margin-left:-30vh;
	-webkit-animation: rotation 17s infinite linear;
}
@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}



.container {width:100%; max-width: 100vw; margin:0; padding:0px 0px 0px 0px;}

/* SIDEBAR NAVIGATION */
.sidebar {position:absolute; right:0;}
.dot {display:inline-block; width:10px; height:10px; background-color:rgba(255,255,255,.3); border-radius:10px; z-index:999; content:''; color:transparent; font-size:14px; line-height:10px; vertical-align:middle; margin:5px 0 5px 0; font-weight:300;}
.dot:hover {background-color:rgba(255,255,255,.8); color:rgba(255,255,255,.8);text-decoration: none;}
.dot span {margin:0px 0px 20px 15px; position:relative; top:0px; left:-80px;}
nav {width:100px; height:200px;/*background-color:rgb(240,240,240); border:solid 1px rgb(220,220,220);*/ padding:0 0px; position:fixed; top:50%; right:20px; transform: translate(0, -50%); z-index: 10000; text-align:right;}
nav ul li a {text-decoration:none; color:white;}
nav ul {list-style-type:none; margin:0; padding:0;}
.name-active {color:rgba(255,255,255,.8); background-color:#FFD95F; text-align:right;}

/* PAGE CONTENT */
.content {width:100%; text-align:justify;}
section {padding:0 0 0px 0;}
section:last-child {padding:0 0 100vh 0;}
.title {font-size:24px; color:rgba(255,255,255,.3); text-transform:uppercase; padding:0 0 0px 0;}
p {margin:0; padding:0px 0 0px 0;}