
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#container{
    background-color: white;
}
#gradient{
    margin: auto;
    width: 95%;
    height: 90%;
    border-radius: 20px;
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    overflow: hidden;
}

#main{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#outterPng{
    width: 100%;
    height: auto;
    position: absolute;
    margin:auto;
    top: 0;bottom: 0;
    z-index: 40;
}
#innerPng{
    width: 100%;
    height: auto;
    position: absolute;
    margin:auto;
    top: 0;bottom: 0;
    z-index: 41;
    -webkit-animation: rotation 30s infinite linear;
}
#logoPng{
    width: 100%;
    height: auto;
    position: absolute;
    margin:auto;
    top: 0;bottom: 0;
    z-index: 42;
}
.content{
    width: 100%;
    height: 100%;
    overflow: auto;
}   
@-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
}
@-webkit-keyframes antirotation {
        from {
                -webkit-transform: rotate(360deg);
        }
        to {
                -webkit-transform: rotate(1deg);
        }
}
#phone-view{
    display:none;
}
#social{
    position: absolute;
    bottom:8%;left: 6%;
    width: 200px;
    height: auto;
    z-index: 60;
    color: white;
}
.user-counter{
    width: 154;
    height: 75;
    margin: 0px auto;
    display: block;
    margin-bottom: 15px;
}
#behemian{
    width: 100%;
    height: 150px;
    background-image: url('../img/bohemian.png');
    display: inline-block;
    margin-bottom: 5px;
}
#bohemian-mob{
    display: none;
}
#split1{
    width: 75px;
    height: 100%;
    display: inline-block;
    float: left;
}
#split2{
    width: 75px;
    height: 100%;
    display: block;
    float: right;
}
#split2 h1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 900;
}
#people{
    width: 100%;
    height: 100%;
    -webkit-animation: antirotation 15s infinite linear;
}
#fb{
    background-image: url('../img/facebook-normal.png');
    background-size: 80%;
    background-position:center;
    width: 60px;
    height: 55px;
    margin: 0px auto;
    display: inline-block;
}
#you{
    background-image: url('../img/youtube-normal.png');
    background-size: 80% auto;
    background-position:center;
    width: 60px;
    height: 55px;
    margin: 0px auto;
    margin-left: -3px;
    display: inline-block;
}
#insta{
    background-image: url('../img/instagram-normal.png');
    background-size: 80% ;
    background-position:center;
    width: 60px;
    height: 55px;
    margin: auto;
    display: inline-block;
    margin-left: -3px;
}
.couple{
    width: 182px;
    height: 55px;
    margin: 0px auto;
    display: block;
    border-radius: 15px; 
    overflow: hidden;
}
#fb:hover{
    background-image: url('../img/facebook-hover.png');
    cursor: pointer;
}
#insta:hover{
    background-image: url('../img/instagram-hover.png');
    cursor: pointer;
}
#you:hover{
    background-image: url('../img/youtube-hover.png');
    cursor: pointer;
}





#menu-content{
    width: 100%;
    height: 100%;;
    position: absolute;
    left: 100%;
}
#menu{
    display: block;
    border-radius: 80px;
    width: 80px;
    height: 80px;
    background-image: url('../img/hamburger.png'); 
    position: absolute;
    right: -40px;top: 0;bottom: 0;
    margin: auto;
    background-color:none;
    z-index: 100;
}
#menu:hover{
    cursor: pointer;
    background-color: none;
    border: none;
}
#inside{
    position: absolute;
    width: 628px;
    height: 312px;
    display: block;
    margin:auto;
    left: 0;right: 0;top: 0;bottom:0;
}
.menu-element{
    background-image: url('../img/pattern-square.png');
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 2px;
}
.anti{
    width: 100%;
    height: 100%;
    position: relative;
}
.anti:hover{
    -webkit-animation: antirotation 15s infinite linear;
}
.menu-element:hover{
    -webkit-animation: rotation 15s infinite linear;
}
#home{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/home.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#home:hover{
    background-image: url('../img/home-text.png');
}
#about{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/about.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#about:hover{
    background-image: url('../img/about-text.png');
}
#proshow{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/proshow.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#proshow:hover{
    background-image: url('../img/proshow-text.png');
}
#event{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/events.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#event:hover{
    background-image: url('../img/events-text.png');
}
#sponsors{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/sponsors.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#sponsors:hover{
    background-image: url('../img/sponsors-text.png');
}
#contact{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/contact.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#contact:hover{
    background-image: url('../img/contact-text.png');
}
#login{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/login.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#login:hover{
    background-image: url('../img/login-text.png');
}
#accomodation{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;    
    display: block;
    margin: auto;
    background-image: url('../img/accomodation.png');
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
#accomodation:hover{
    background-image: url('../img/accomodation-text.png');
}
#mob-inside{
    display: none;
}

#overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    text-align: center;
    z-index: 9999999;
}

@media (max-width:768px){
    #gradient{
        width: 100%;
        height: 100%;
        border-radius:0px;
    }
    #outterPng{
        display: none;
    }
    #innerPng{
        display: none;
    }
    #logoPng{
        display: none;
    }
    #main{
        background-image: url('../img/phone-new.png');
        background-position-x: center;
        background-position-y: center;
        background-size: auto 100%;
    }
    #phone-view{
        display: block;
        background-image: url('../img/phonePng-new.png');
        background-position: center;
        -webkit-animation: rotation 30s infinite linear;
        width: 100%;
        height: 100%;
        background-size: auto 100%;
    }
    @-webkit-keyframes rotation {
        from {
                -webkit-transform: rotate(0deg);
        }
        to {
                -webkit-transform: rotate(359deg);
        }
    }
    #social{
        display: none;
    }
    #bohemian-mob{
        position: absolute;
        display: inline-block;
        bottom: 2%;
        width: 150px;
        height: 112.5;
        left: 0;right: 0;
        margin: auto;
        z-index: 70;
        background-image: url('../img/bohemian.png');
        background-size: 100%;
    }
    #menu{
        top: 5%;bottom: auto;
    }
    #inside{
        display: none;
    }
    #mob-inside{
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }
    #mob-inside-content{
        display: block;
        width: 100%;
        height: 60%;
        margin-top: 20%;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #mob-inside-content a{
        padding: 0px;
        margin: 0px;
        font-size: 25px;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 300;
        cursor: pointer;
        display: block;
    }
    #mob-inside-content a:active{
        color: grey;
        background-color: none;
        border: none;
    }
    #profile-bottom{
        width: 100%;
        height: 60px;
        position: absolute;
        display: block;
        top: 70%;
        right: 0;left: 0;
        text-align: center;
    }
    #profile-bottom a{
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 300;
        cursor: pointer;
    }
    #profile-bottom a:active{
        color: grey;
        background-color: none;
        border: none;
    }
}